<app-card title="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card title="Aprofundando conhecimento em Templates" cor="#B2E7E8">
    <app-segundo-component></app-segundo-component>
</app-card>
<app-card title="Exemplos com Pipe" cor="#BFB9AA">
    <app-terceiro-componente></app-terceiro-componente>
</app-card>
<app-card title="Two Way Data Binding" cor="#F2D096">
    <app-two-way-data-bind></app-two-way-data-bind>
</app-card>
<app-card title="Renderizando uma lista de dados" cor="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card title="Componentes Personalizados" cor="#FFE3DC">
    <app-componente-personalizado nome = "Anne" sobrenome = "Teste"></app-componente-personalizado>
    <app-componente-personalizado nome = "Dudu" sobrenome = "Teste"></app-componente-personalizado>
</app-card>
<app-card title="Componente Pai e Filho" cor="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card title="Serviços 1 " cor="#3A2D32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
</app-card>
<app-card title="Serviços 2 " cor="#3A2D33">
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<app-card title="Ciclo de Vida" cor="#A2AD93">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
